form {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

label {
  display: flex;
}

input {
  flex-grow: 2;
  margin-left: 4px;
}