.product-card {
    background-color: white;
    border-radius: 100px;
    overflow: hidden; /* clip child content to the rounded corners */
}

.product-card:hover {
    box-shadow: 0px 0px 5px 10px rgb(180, 180, 180);
}

p {
    color: black;
    font-size: 1.5rem;
}

.product-card img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    width: 100%;
}