.item {
  display: flex;
  justify-content: stretch;
  margin: 10px 0;
}

.item>input[type='checkbox'] {
  width: 40px;
  height: 40px;
}

.item>input[type='text'] {
  flex-grow: 2;
  font-size: 36px;
}

.item>input[type='text']::placeholder {
    color: rgb(141, 141, 141)
}