button, .button-wrapper {
    display: inline-block;
}

button {
    &.primary {
        background-color: cyan;

        &:hover {
            background-color: rgb(0, 127, 127);
        }
    }

    &.danger {
        background-color: red;

        &:hover {
            background-color: rgb(127, 0, 0);
        }
    }

    &.success {
        background-color: rgb(0, 255, 0);

        &:hover {
            background-color: rgb(0, 127, 0);
        }
    }
}