button, .button-wrapper {
    display: inline-block;
    color: black;
}

button {
    &.warning {
        background-color: yellow;

        &:hover {
            background-color: rgb(127, 127, 0);
        }
    }

    &.error {
        background-color: red;

        &:hover {
            background-color: rgb(127, 0, 0);
        }
    }

    &.success {
        background-color: rgb(0, 255, 0);

        &:hover {
            background-color: rgb(0, 127, 0);
        }
    }
}