#dynamic-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

#dynamic-form>* {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    &:last-child {
        padding: 0;
    }

    &>* {
        font-size: 1rem;
        margin: 0;
    }
}