.header {
    background-color: rgb(0, 255, 0);
    width: 1000px;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}